
<table class="values">
  <thead>
    <tr>
      <th><%= _("Syntax name") %></th>
      <th><%= _("Description") %></th>
    </tr>
  </thead>

  <tbody>
<% syntaxes.uniq.sort.each do |syntax| -%>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= link_to_syntax(syntax) %></td>
      <td><%= h(lsd_(syntax)) %></td>
    </tr>
<% end -%>
  </tbody>
</table>
<% reset_cycle %>
