.accordion{
  border-bottom:              1px solid #999999;
}
.accordion_panel{
  border-left:                1px solid #999999;
  border-right:               1px solid #999999;
  overflow:                   auto;
  visibility:                 visible;
}

.accordion_tab {
  position:                   relative;
  height:                     26px;
  cursor:                     pointer;
}  

.accordion_tab div{
  height:                     26px;
}

.accordion_tabLeftInactive {
  background:                 url('../../images/spinelz/accordion_tab_left_inactive.gif') no-repeat;
  position:                   absolute;
  left:                       0;
  width:                      10px;
}

.accordion_tabLeftActive {
  background:                 url('../../images/spinelz/accordion_tab_left_active.gif') no-repeat;
  position:                   absolute;
  left:                       0;
  width:                      10px;
}

.accordion_tabMiddleInactive {
  background:                 url('../../images/spinelz/accordion_tab_middle_inactive.gif') repeat-x;
  margin:                     0 10px;
}

.accordion_tabMiddleActive {
  background:                 url('../../images/spinelz/accordion_tab_middle_active.gif') repeat-x;
  margin:                     0 10px;
}

.accordion_tabRightInactive {
  background:                 url('../../images/spinelz/accordion_tab_right_inactive.gif') no-repeat;
  position:                   absolute;
  top:                        0;
  right:                      0;
  width:                      10px;
}

.accordion_tabRightActive {
  background:                 url('../../images/spinelz/accordion_tab_right_active.gif') no-repeat;
  position:                   absolute;
  top:                        0;
  right:                      0;
  width:                      10px;
}
