.datepicker {
  border:                     1px solid #999999;
  font-size:                  13px;
  width:                      200px;
  height:                     160px;
  background:                 #FFFFFF;
  color:                      #000000;
}

.datepicker table tr td {
  padding:                    0px;
  margin:                     0px;
  border:                     none;
}

/* header */
.datepicker_header {
  padding-top:                3px;
  width:                      100%;
  height:                     26px;
  background:                 url('../../images/spinelz/datepicker_back.gif') repeat-x;
  color:                      #808080;
  border-bottom:              1px solid #999999;
  font-weight:                bold;
}

.datepicker_nextMonthMark {
  background:                 url('../../images/spinelz/datepicker_next.gif') no-repeat;
  background-position:        left top;
  width:                      16px;
  height:                     16px;
  cursor:                     pointer;
  float:                      left;
}

.datepicker_nextMonthMarkHover {
  background:                 url('../../images/spinelz/datepicker_next.gif') no-repeat;
  background-position:        left bottom;
  width:                      16px;
  height:                     16px;
  cursor:                     pointer;
  float:                      left;
}

.datepicker_nextYearMark {
  background:                 url('../../images/spinelz/datepicker_next_second.gif') no-repeat;
  background-position:        left top;
  width:                      16px;
  height:                     16px;
  cursor:                     pointer;
  margin-left:                16px;
}

.datepicker_nextYearMarkHover {
  background:                 url('../../images/spinelz/datepicker_next_second.gif') no-repeat;
  background-position:        left bottom;
  width:                      16px;
  height:                     16px;
  cursor:                     pointer;
  margin-left:                16px;
}

.datepicker_preMonthMark {
  background:                 url('../../images/spinelz/datepicker_pre.gif') no-repeat;
  background-position:        left top;
  width:                      16px;
  height:                     16px;
  cursor:                     pointer;
  margin-left:                16px;
}

.datepicker_preMonthMarkHover {
  background:                 url('../../images/spinelz/datepicker_pre.gif') no-repeat;
  background-position:        left bottom;
  width:                      16px;
  height:                     16px;
  cursor:                     pointer;
  margin-left:                16px;
}

.datepicker_preYearMark {
  background:                 url('../../images/spinelz/datepicker_pre_second.gif') no-repeat;
  background-position:        left top;
  width:                      16px;
  height:                     16px;
  cursor:                     pointer;
  float:                      left;
}

.datepicker_preYearMarkHover {
  background:                 url('../../images/spinelz/datepicker_pre_second.gif') no-repeat;
  background-position:        left bottom;
  width:                      16px;
  height:                     16px;
  cursor:                     pointer;
  float:                      left;
}

.datepicker_nextYears {
  text-align:                 right;
  width:                      35px;
}

.datepicker_preYears {
  text-align:                 left;
  width:                      35px;
}

.datepicker_years {
  text-align:                 center;
}

.datepicker_nextYears {
  text-align:                 right;
  width:                      35px;
}

.datepicker_ym {
  margin-left:                10px;
}

/* calendar */
.datepicker_calendar {
  padding-top:                5px;
  background:                 #FFFFFF;
  color:                      #000000;
}

.datepicker_table {
  font-size:                  11px;
  text-align:                 center;
  width:                      100%;
  background-position:        top;
}

.datepicker_tableTh {
  color:                      #999999;
}

.datepicker_date {
  cursor:                     pointer;
  background:                 #FFFFFF;
  color:                      #000000;
  width:                      14%;
}

.datepicker_holiday {
  cursor:                     pointer;
  background:                 #FFFFFF;
  font-weight:                bold;
  color:                      #285A94;
  width:                      14%;
}

.datepicker_dateHover {
  cursor:                     pointer;
  background:                 #D5DFE8;
  font-weight:                bold;
  color:                      #674534;
  width:                      14%;
}

.datepicker_holidayHover {
  cursor:                     pointer;
  background-color:           #D5DFE8;
  font-weight:                bold;
  color:                      #674534;
  width:                      14%;
}

.datepicker_today {
  text-decoration:            underline;
  color:                      red;
  font-weight:                bold;
}
