.grid_container {
  position:                   relative;
  width:                      500px;
  height:                     200px;
  overflow:                   scroll;
}
.grid_baseTable{
  background-color:           #F6F6F6;
  color:                      #000000;
  empty-cells:                show;
  z-index:                    2;  
}
.grid_headerIdCol{
  background:           url(../../images/spinelz/table_back.gif) repeat-x #ffffff;
  color:                      #000000;
}
.grid_headerTable{
  background-color:           #F6F6F6;
  color:                      #000000;
  z-index: 1;
}
.grid_headerRow{
  background-color:           #F6F6F6;
  color:                      #000000;
  
}
.grid_headerCell{
  background-color:           #F6F6F6;
  color:                      #000000;
}

.grid_headerCellDrag {
  background-color:           #F6F6F6;
  color:                      #000000;
  overflow:                   hidden;
  cursor:                     move;  
}
.grid_headerCellVal {
  background-color:           #F6F6F6;
  color:                      #000000;
  text-align:                 center;
  font-weight:                bold;
  overflow:                   hidden;
  cursor:                     pointer;
}

.grid_idTable {
  background-color:           #F6F6F6;
  color:                      #000000;
  z-index:                    1;    
}

.grid_idRow {
  background-color:           #F6F6F6;  
  color:                      #000000;
}

.grid_idCell{
  background-color:           #F6F6F6;
  color:                      #000000;
  overflow:                   hidden;
  
}
.grid_idCellVal{
  background-color:           #F6F6F6;
  color:                      #000000;
  cursor:                     move;
  overflow:                   hidden;
  text-align:                 center;
}

.grid_cellTable{
  overflow:                   hidden;
}
.grid_cellTbody{
  position:                   relative;
}

.grid_cellRow{
  background-color:           #F6F6F6;
  color:                      #000000;
  position:                   relative;
  overflow:                   hidden;
  top:                        0;
  left:                       0;
}

.grid_cell{
  overflow:                   hidden;
  background-color:           #FFFFFF;
  color:                      #000000;
  position:                   relative;  
}

.grid_cellVal{
  overflow:                   hidden;
  position:                   relative;
}

.grid_cellSelected{
  background-color:           #becfeb;
  color:                      #000000;
}
.cellHover{
  background-color:           #becfeb;
  color:                      #000000;
  font-weight:                bold;
}

.grid_state {
  background-image:           url(../../images/spinelz/grid_state.gif);
  background-repeat:          no-repeat;
  background-position:        0px -22px;
  height:                     11px;
  width:                      11px;
  overflow:                   hidden;
}
.grid_stateEmpty {
  background-position:        0px -22px;
}

.grid_stateClose {
  cursor:                     pointer;
  background-position:        0px -11px;
}

.grid_stateOpen {
  cursor:                      pointer; 
  background-position:         0px 0px;
}

.grid_inplaceEditor{
  margin:                      0;
  padding:                     0;
  width :                      100%;
  height:                      100%;
}
