.selectableTable_table {
  border-collapse:      collapse;
  margin:               0px;
  padding:              0px;
  width:                100%;
}

.selectableTable_tr {
  margin:               0px;
  padding:              0px;
}

.selectableTable_tr td {
  border-bottom:        1px dotted black;
  border-top:           1px dotted black;
}

.selectableTable_trSelected {
  background:           url(../../images/spinelz/selectabletable_selected.gif) repeat-x;
  margin:               0px;
  padding:              0px;
}

.selectableTable_trHover {
  background-color:     #eeffcc;
  margin:               0px;
  padding:              0px;
}
