* {
  margin:                     0;
  padding:                    0;
}

.sideBarBox_panelContainer {
  float:                      left;
  border:                     1px solid #999999;
  padding:                    5px;
  position:                   relative;
  z-index:                    5;
  width:                      200px;
  height:                     200px;
}

.sideBarBox_tabContainer {
  position:                   relative;
  float:                      left;
  width:                      40px;
}

.sideBarBox_tabContent {
}

.sideBarBox_tabTitle {
  position:                   relative;
  left:                       10px;  
}

.sideBarBox_tab div{  
  cursor:                     pointer;
  width:                      40px;
  position:                   relative;
  left:                       -1px;
}

.sideBarBox_tabTopInactive {
  background:                 url('../../images/spinelz/sideBarBox_tabTopInactive.gif') no-repeat;
  background-position:        0 1px;
  height:                     10px;
  z-index:                    1;
  font-size:                  1px;
}

.sideBarBox_tabTopActive {
  background:                 url('../../images/spinelz/sideBarBox_tabTopActive.gif') no-repeat;
  background-position:        0 1px;
  height:                     10px;
  z-index:                    10;
  font-size:                  1px;
}

.sideBarBox_tabMiddleInactive {
  background:                 url('../../images/spinelz/sideBarBox_tabMiddleInactive.gif') repeat-y;
  background-position:        left top;
  top:                        -2px;
  z-index:                    1;
}

.sideBarBox_tabMiddleActive {
  background:                 url('../../images/spinelz/sideBarBox_tabMiddleActive.gif') repeat-y;
  background-position:        left top;
  top:                        -2px;
  z-index:                    10;
}

.sideBarBox_tabBottomInactive {
  display:                    block;
  background:                 url('../../images/spinelz/sideBarBox_tabBottomInactive.gif') no-repeat;
  background-position:        left top;
  height:                     10px;
  top:                        -5px;
}

.sideBarBox_tabBottomActive {
  display:                    block;
  background:                 url('../../images/spinelz/sideBarBox_tabBottomActive.gif') no-repeat;
  background-position:        left top;
  height:                     10px;
  top:                        -5px;
  z-index:                    10;
}
