.toolbar_container {
  position: relative;
  height: 25px;
}

.toolbar_containerLeft {
  background-repeat:no-repeat;
  background-image:url('../../images/spinelz/toolbar_left.gif');
  position:absolute;
  left:0px;
  height: 25px;  
  width: 2px;  
}

.toolbar_containerMiddle {
  height: 25px;  
  background-repeat:repeat-x;
  background-image:url('../../images/spinelz/toolbar_middle.gif');
  margin-left: 2px;
  margin-right: 3px;
  padding-top: 2px;
}

.toolbar_containerRight {
  background-repeat: no-repeat;
  background-image: url('../../images/spinelz/toolbar_right.gif');
  position:absolute;
  top: 0px;
  right:0px;
  height: 25px;  
  width: 3px;
}

.toolbar_item {
  position:relative;
  margin-right:3px;
  height:20px;
  padding: 1px;
  float:left;
}

.toolbar_itemHov {
  position:relative;
  margin-right:3px;
  height:20px;
  padding: 0px;
  float:left;
  border: 1px solid #b9cfd8;  
}

.toolbar_itemPres {
  position:relative;
  margin-right:3px;
  height:20px;
  padding: 0px;
  float:left;
  border-width: 1px;
  border-style: solid;
  border-color: #b9cfd8 #ffffff #ffffff #b9cfd8;  
}

.toolbar_content {
  position:relative;
  height: 18px;
  font-size:11px;
  padding: 2px 5px 0 5px;
  overflow: hidden;
  cursor: pointer;
  float: left;
}

.toolbar_contentPres {
  position:relative;
  height: 18px;
  font-size:0px;
  padding: 2px 5px 0 5px;
  overflow: hidden;
  cursor: pointer;
  float: left;
  background-color: #ffffff;
  color: #000000;
}
