.treeview {
  list-style: none outside;
  font-size: 12px;
}

.treeview_dir {
  margin-top: 2px;
  height: auto;
  width: auto;
}

.treeview_dirBody {
  cursor: pointer;
  height: 15px;
  width: auto;
}

.treeview_dirBodyText {
  background-color: #FFFFFF;
  color: black;
}

.treeview_dirBodyTextActive {
  background-color: #becfeb;
  color: black;
}

.treeview_dirContainerHover {
  background-color: #becfeb; 
}

.treeview_dirContainer {
  list-style: none outside;
  padding: 1px 0 3px 20px;
  margin: 0px;
  height: auto;
  width: auto;
}

.treeview_file {
  margin-top: 2px;
  margin-left: 17px;
/*   position: relative; */
/*   top: 0px; */
/*   left: 0px; */
}

.treeview_fileBody {
  height: 15px;
  cursor: pointer;
}

.treeview_fileBodyText {
  background-color: #FFFFFF;
  color: black;
}

.treeview_fileBodyTextActive {
  background-color: #becfeb;
  color: black;
}

.treeview_stateEmpty {
  float: left;
  background-image: url(../../images/spinelz/treeview_state.gif);
  background-repeat: no-repeat;
  cursor: pointer; 
  height: 11px;
  width: 11px;
  margin-right: 5px;
  background-position: 0px -22px;
  overflow: hidden;
}

.treeview_stateClose {
  float: left;
  background-image: url(../../images/spinelz/treeview_state.gif);
  background-repeat: no-repeat;
  cursor: pointer; 
  height: 11px;
  width: 11px;
  margin-right: 5px;
  background-position: 0px -11px;
  overflow: hidden;
}

.treeview_stateOpen {
  float: left;
  background-image: url(../../images/spinelz/treeview_state.gif);
  background-repeat: no-repeat;
  cursor: pointer; 
  height: 11px;
  width: 11px;
  margin-right: 5px;
  background-position: 0px 0px;
  overflow: hidden;
}

.treeview_dirIcon {
  float: left;
  background-image: url(../../images/spinelz/treeview_dir.gif);
  background-repeat: no-repeat;
  cursor: pointer; 
  height: 16px;
  width: 16px;
  margin-right: 5px;
  background-position: 0px 0px;
  overflow: hidden;
}

.treeview_fileIcon {
  float: left;
  background-image: url(../../images/spinelz/treeview_file.gif);
  background-repeat: no-repeat;
  cursor: pointer; 
  height: 16px;
  width: 16px;
  margin-right: 2px;
  background-position: 0px 0px;
  overflow: hidden;
}
