div.detail h2
{
  margin-bottom: 0;
}

div.detail h3
{
  background-color: #cfc;
  margin-bottom: 0;
  padding-left: 0.5em;
}

div.detail span.switch
{
  margin-left: -0.5em;
  margin-right: 0.5em;
  height: 1.25em;
}

div.detail div.switcher-content
{
  padding: 1em;
}
