@import url("detail.css");

#directory-tree
{
  padding: 0;
  width: 30%;
  overflow: auto;
  float: left;
}

span.node-dn
{
  display: none;
}

div#entry-information
{
  width: 65%;
  float: left;
  padding-left: 1em;
  border-left: 1px solid #9c9;
}
