#directory-tree
{
  padding: 0;
  width: 30%;
  overflow: auto;
  float: left;
}

span.node-dn
{
  display: none;
}

div#entry-information
{
  width: 65%;
  float: left;
  padding-left: 1em;
  border-left: 1px solid #9c9;
}

div#entry-information h2
{
  margin-bottom: 0;
}

div#entry-information span.dn
{
  color: gray;
  font-size: small;
  text-align: right;
  display: block;
}

div.directory-entry h3
{
  background-color: #cfc;
  margin-bottom: 0;
}

span.switch
{
  margin-right: 0.5em;
}

div.switcher-content
{
  padding: 1em;
}

div.switcher-content h3
{
  margin-top: 0;
}

table
{
  background-color: #9c9;
}

tr, th, td
{
  background-color: white;
  padding: 5px;
}

th[scope="row"]
{
  text-align: left;
}
