div.entry h2
{
  margin-bottom: 0;
}

div.entry span.dn
{
  color: gray;
  font-size: small;
  text-align: right;
  display: block;
}

div.entry h3
{
  background-color: #cfc;
  margin-bottom: 0;
  padding-left: 0.5em;
}

span.switch
{
  margin-left: -0.5em;
  margin-right: 0.5em;
  height: 1.25em;
}

div.switcher-content
{
  padding: 1em;
}

div.switcher-content h3
{
  margin-top: 0;
}

div.entry table
{
  background-color: #9c9;
}

div.entry tr,
div.entry th,
div.entry td
{
  background-color: white;
  padding: 5px;
}

div.entry tr.even th,
div.entry tr.even td
{
  background-color: #efe;
}
