
div.login-form
{
  padding: 3px;
  border: 1px solid #9c9;
  width: 20em;
  margin: 2em auto;
}

div.login-form form
{
  background-color: #cfc;
  padding: 0.5em 1em;
  margin: auto;
}

div.login-form form th
{
  font-weight: normal;
  text-align: right;
}

div.login-form form td input[type="text"],
div.login-form form td input[type="password"]
{
  width: 13em;
}

div.login-form form td[colspan="2"]
{
  text-align: center;
}

div.login-form form > p
{
  text-align: center;
}
