table, tr, th, td
{
  border: 1px solid black;
}

p.notice
{
  color: green;
}

div.entry
{
  padding-bottom: 2em;
  border-bottom: 1px solid black;
}

div.entry table
{
  margin-left: 3em;
}

div.entry table tbody th
{
  text-align: left;
}
