html,
body
{
  margin: 0;
  background-color: white;
}

a img
{
  border-style: none;
}

a:link
{
  color: #060;
}

a:visited
{
  color: #990;
}

a:hover
{
  color: #9c0;
}

a:active
{
  color: #9f0;
}

hr.clear
{
  visibility: hidden;
  clear: both;
}

div.header
{
  background-image: url(../images/header-background.png);
  background-repeat: repeat-x;
}

div.logo
{
  float: left;
}

div.menu
{
  float: right;
  margin-right: 1em;
}

div.menu li
{
  display: inline;
}

div.content
{
  margin: 0.5em 1.5em;
}

div.footer
{
  padding: 0 1.5em;
}

div.system-info
{
  text-align: right;
}

address
{
  color: gray;
}

table, tr, th, td
{
  border: 1px solid black;
}

h1
{
  clear: both;
}

div#flash-box
{
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fcfffc;
  border: 1px solid #cdc;
  border-width: 1px 0;
}

p.notice
{
  color: green;
  padding: 1em;
  text-align: center;
}

div.navi
{
  margin-top: 1em;
  padding-top: 0.5em;
  border-top: 3px solid #9d9;
}

div.navi ul
{
  margin: 0;
  padding: 0;
}

div.navi li
{
  display: inline;
}

div.entry table
{
  margin-left: 3em;
}

div.entry table tbody th
{
  text-align: left;
}

div.object-class-information
{
  margin: 1em 5em;
  padding: 0px 1em;
}
