body
{
  margin: 0.5em 1.5em;
}

table, tr, th, td
{
  border: 1px solid black;
}

div#flash-box,
div.content
{
  clear: both;
}

div#flash-box
{
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fcfffc;
  border: 1px solid #cdc;
  border-width: 1px 0;
}

p.notice
{
  color: green;
  padding: 1em;
  text-align: center;
}

h1
{
  float: left;
}

div.menu
{
  float: right;
}

div.menu li
{
  display: inline;
}

div.entry
{
  padding-bottom: 2em;
  border-bottom: 1px solid black;
}

div.entry table
{
  margin-left: 3em;
}

div.entry table tbody th
{
  text-align: left;
}

div.object-class-information
{
  margin: 1em 5em;
  padding: 0px 1em;
}

div.footer
{
  margin-top: 0.5em;
  border-top: 1px solid gray;
}

div.footer div.links
{
  float: left;
}

div.system-info
{
  text-align: right;
}
