@import url("entry.css");

div.navi
{
  text-align: right;
}

div.navi ul
{
  margin-bottom: 0;
}

div.navi li
{
  display: inline;
  padding-left: 5px;
  border-left: 1px solid black;
}

form table
{
  margin: 1em;
}
