@import url("entry.css");

div.navi
{
  text-align: right;
}

div.navi ul
{
  margin-bottom: 0;
}

div.navi li
{
  display: inline;
  padding-left: 5px;
  border-left: 1px solid black;
}

div.entry table,
div.entry tr,
div.entry th,
div.entry td
{
  border: 1px solid black;
}



div.entry table
{
  margin-left: 3em;
}

div.entry table tbody th
{
  text-align: left;
}

div.entry div.object-class-information
{
  margin: 1em 5em;
  padding: 0px 1em;
}
