
<div class="entry">
  <h2>
    <%= user_link_if(defined?(link_to_entry) && link_to_entry, entry, true) %>
  </h2>

<%= render(:partial => "object_class_information",
           :locals => {:entry => entry}) %>

<%= render(:partial => "attribute_information",
           :locals => {:entry => entry}) %>
</div>
