
<h3><%= _("Change password") %></h3>

<table class="values">
  <tr>
    <th scope="row">
      <label for="user_password"><%= _("Password") %></label>
    </th>
    <td><%= password_field("user", "password") %></td>
  </tr>

  <tr>
    <th scope="row">
	<label for="user_password_confirmation">
	  <%= _("Confirm Password") %>
	</label>
    </th>
    <td><%= password_field("user", "password_confirmation") %></td>
  </tr>
</table>
