<div class="detail">
  <h2><%= user_link(@user) %></h2>
  <span class="full-identifier"><%= h(@user.dn) %></span>

  <% form_tag(:action => 'update', :id => @user) do %>
    <%= render :partial => 'form' %>
    <%= submit_tag(s_('Command|Update')) %>
  <% end %>
</div>

<div class="navi">
  <ul>
    <li><%= link_to(s_('Menu|Show'), :action => 'show', :id => @user) %></li>
    <li><%= link_to(s_('Menu|Index'), :action => 'index') %></li>
  </ul>
</div>
