<%= render(:partial => "/_entry/entry",
           :locals => {
             :entry => @user,
             :title => user_link(@user, true)
           }) %>

<div class="navi">
  <ul>
    <li><%= link_to s_('Menu|Index'), :action => 'index' %></li>
  </ul>
</div>
