<% if logged_in? -%>
  <p>
    <% if Entry.empty? -%>
      <%= link_to(s_("Menu|Populate"),
                  {:controller => "directory", :action => "populate"},
                  :confirm => _("OK?")) %>
    <% else %>
    <%= _("Welcome %s!") % h(current_user.login) %>
    <% end -%>
  </p>
<% else -%>
  <p><%= _("Please login.") %></p>
<% end -%>
