<% title ||= h(entry.short_dn) %>
<div class="entry detail">
  <h2><%= title %></h2>
  <span class="full-identifier"><%= h(entry.dn) %></span>

  <% switcher("object-classes", _("objectClasses")) do %>
    <%= render(:partial => "object_classes/object_classes",
	       :object => entry.classes) %>
  <% end %>

  <% switcher("attributes", _("Attributes")) do %>
    <%= render(:partial => "_entry/attributes_information",
	       :locals => {:entry => entry}) %>
  <% end %>
</div>
