    </div>

    <div class="sponsors">
      <p id="sponsor-rubyforge">
        <a href="http://rubyforge.org/projects/ruby-activeldap/">
          <img src="<%= paths[:top] %>/rubyforge.png" width="120" height="24" border="0" alt="ActiveLdap is hosted on RubyForge.org." />
        </a>
      </p>
      <p id="sponsor-github">
        <a href="https://github.com/activeldap/">
          <img src="<%= paths[:top] %>/github-logo.png" width="100" height="45" border="0" alt="ActiveLdap uses GitHub's git repositories." />
        </a>
      </p>
      <p id="sponsor-tango">
	<a href="http://tango.freedesktop.org/">
          <img width="120" height="53" border="0" alt="Tango Desktop Project's icons are used." src="<%= paths[:top] %>/tango-logo.png" />
        </a>
      </p>
      <p id="sponsor-famfamfam">
	<a href="http://www.famfamfam.com/">
          <img width="120" height="18" border="0" alt="famfamfam.com's flags are used." src="<%= paths[:top] %>/famfamfam-logo.png" />
        </a>
      </p>
    </div>
