
<div class="system-info">
  <address>
    al-admin: Powered by
    <%= link_to("Ruby/ActiveLdap",
		"http://rubyforge.org/projects/ruby-activeldap") %>
    <%= ActiveLdap::VERSION %>
    and
    Ruby on Rails <%= Rails::VERSION::STRING %>
  </address>
</div>
