
<% if logged_in? -%>
  <div class="main-menu">
    <ul>
<% [
    [s_("Menu|Users list"), {:controller => "users"}],
    [s_("Menu|Directory"), {:controller => "directory"}],
    [s_("Menu|objectClass list"), {:controller => "object_classes"}],
    [s_("Menu|Attribute list"), {:controller => "attributes"}],
    [s_("Menu|Syntax list"), {:controller => "syntaxes"}],
   ].each do |label, options| -%>
      <li <%= current_page?(options) ? 'class="current-page"' : "" %>>
        <%= link_to(label, options) %>
      </li>
<% end -%>
    </ul>
  </div>
<% end -%>
