<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="all" />
    <meta http-equiv="imagetoolbar" content="false" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <title>
      <%=h "#{controller.controller_name}: #{controller.action_name}" %>
    </title>

    <%= stylesheet_link_tag 'rails' %>
    <%= stylesheet_link_tag 'screen' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <%= link_to(image_tag("al-admin.png"), top_path) %>
      </div>

      <div class="menu">
        <%= render(:partial => "layouts/header_menu") %>
      </div>

      <hr class="clear" />
    </div>

    <%= render(:partial => "layouts/flash_box") %>

    <div class="body">
      <div class="content">
	<h1>
          <%=h "#{controller.controller_name}: #{controller.action_name}" %>
        </h1>

        <div class="main">
          <%= render(:partial => "layouts/main_menu") %>
  	  <%= yield %>
        </div>
      </div>

      <div class="footer">
        <%= render(:partial => "layouts/footer") %>
      </div>
    </div>
  </body>
</html>
