<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="all" />
    <meta http-equiv="imagetoolbar" content="false" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <title>
      <%=h "#{controller.controller_name}: #{controller.action_name}" %>
    </title>

    <%= stylesheet_link_tag 'rails' %>
    <%= stylesheet_link_tag 'screen' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <div class="header">
      <div class="logo">
        <%= link_to(image_tag("al-admin.png"), top_path) %>
      </div>

      <div class="menu">
	<ul>
	  <li><%= link_to(s_("Menu|Login"), login_path) %></li>
	  <li><%= link_to(s_("Menu|Sign up"), sign_up_path) %></li>
	</ul>
      </div>

      <hr class="clear" />
    </div>

    <div class="body">
      <div class="content">
<% if flash[:notice] -%>
        <%= flash_box("<p class=\"notice\">#{h(flash[:notice])}</p>") %>
<% end -%>

	<h1>
          <%=h "#{controller.controller_name}: #{controller.action_name}" %>
        </h1>

	<%= yield %>
      </div>

      <div class="footer">
	<div class="system-info">
	  <address>
	    al-admin: Powered by
	    <%= link_to("Ruby/ActiveLdap",
			"http://rubyforge.org/projects/ruby-activeldap") %>
	    <%= ActiveLdap::VERSION %>
	  </address>
	</div>
      </div>
    </div>
  </body>
</html>
