<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="all" />
    <meta http-equiv="imagetoolbar" content="false" />
    <meta name="MSSmartTagsPreventParsing" content="true" />
    <title>
      <%=h "#{controller.controller_name}: #{controller.action_name}" %>
    </title>

    <%= stylesheet_link_tag 'rails' %>
    <%= stylesheet_link_tag 'screen' %>
    <%= javascript_include_tag :defaults %>
  </head>
  <body>
    <h1><%=h "#{controller.controller_name}: #{controller.action_name}" %></h1>
<% if flash[:notice] -%>
    <p class="notice"><%=h flash[:notice] %></p>
<% end -%>
    <%= yield %>

    <div class="footer-link">
      <p><%= link_to(_("Top"), top_path) %></p>
    </div>

    <div class="system-info">
      <p>al-admin: Powered by Ruby/ActiveLdap <%= ActiveLdap::VERSION %></p>
    </div>
  </body>
</html>
