<% have_child = !tree.children.empty? %>
<li class="<%= have_child ? 'dir' : 'file' %>">
  <span class="node-dn"><%= h(tree.dn) %></span>
  <span class="node-short-dn"><%= h(tree.short_dn) %></span>
<% if have_child -%>
  <ul>
    <%= render(:partial => "tree", :collection => tree.children) %>
  </ul>
<% end -%>
</li>
