<ul id="directory-tree">
  <%= render(:partial => "tree", :object => @root) %>
</ul>

<%= javascript_tag("new TreeView('directory-tree', {
				    move:       false,
				    emptyImg:   true,
				    open:       true
				  });") %>
