<ul id="directory-tree">
  <%= render(:partial => "tree", :object => @root) %>
</ul>

<div id="entry-information">
  <%= render(:partial => "entry", :object => @root) %>
</div>

<%= javascript_tag(render(:partial => "tree_view_js",
                          :locals => {:tree_id => "directory-tree",
                                      :entry_id => "entry-information"})) %>

<hr class="clear" />
